<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OttraiThisaiOttam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4B6500F1FDD336D00EC4972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4B650231FDD336D00EC4972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4B6502E1FDD336D00EC4972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
